<div class="form__title">
  <div class="line"><hr /></div>
  <div class="text">or sign up with your email</div>
  <div class="line"><hr /></div>
</div>
<form class="form" [formGroup]="signUpForm" (submit)="onSubmit()">
  <mat-form-field
    class="form__email"
    floatLabel="always"
    subscriptSizing="dynamic"
  >
    <mat-label>Email</mat-label>
    <input
      matInput
      placeholder="e.g. example@email.com"
      formControlName="email"
    />
    <mat-error
      *ngIf="email?.hasError('pattern') && !email?.hasError('required')"
    >
      Invalid email
    </mat-error>
    <mat-error *ngIf="email?.hasError('required')">
      Email is required
    </mat-error>
  </mat-form-field>

  <mat-form-field floatLabel="always" subscriptSizing="dynamic">
    <mat-label>Password</mat-label>
    <input formControlName="password" matInput />
    <mat-icon
      [svgIcon]="password?.invalid && password?.touched ? 'info-error' : 'info'"
      [matTooltip]="passwordTip"
      matTooltipPosition="right"
      matSuffix
    ></mat-icon>

    <mat-error
      *ngIf="password?.hasError('pattern') && !password?.hasError('required')"
    >
      Invalid password format
    </mat-error>
    <mat-error *ngIf="password?.hasError('required')">
      Password is required
    </mat-error>
  </mat-form-field>

  <mat-form-field floatLabel="always" subscriptSizing="dynamic">
    <mat-label>First name</mat-label>
    <input formControlName="firstName" matInput />
    <mat-icon
      [svgIcon]="
        firstName?.invalid && firstName?.touched ? 'info-error' : 'info'
      "
      [matTooltip]="userTip"
      matTooltipPosition="right"
      matSuffix
    ></mat-icon>

    <mat-error
      *ngIf="firstName?.hasError('pattern') && !firstName?.hasError('required')"
    >
      Invalid character
    </mat-error>
    <mat-error *ngIf="firstName?.hasError('required')">
      First name is required
    </mat-error>
  </mat-form-field>

  <mat-form-field floatLabel="always" subscriptSizing="dynamic">
    <mat-label>Last name</mat-label>
    <input formControlName="lastName" matInput />
    <mat-icon
      [svgIcon]="lastName?.invalid && lastName?.touched ? 'info-error' : 'info'"
      [matTooltip]="userTip"
      matTooltipPosition="right"
      matSuffix
    ></mat-icon>

    <mat-error
      *ngIf="lastName?.hasError('pattern') && !lastName?.hasError('required')"
    >
      Invalid character
    </mat-error>
    <mat-error *ngIf="lastName?.hasError('required')">
      Last name is required
    </mat-error>
  </mat-form-field>

  <mat-form-field floatLabel="always" subscriptSizing="dynamic">
    <mat-label>Date of birth</mat-label>
    <input
      matInput
      [matDatepicker]="picker"
      formControlName="dateBirth"
      [max]="maxDateBirth"
      [placeholder]="(dateFormat | async) || 'DD/MM/YYYY'"
    />
    <mat-error *ngIf="dateBirth?.hasError('required')">
      Birth date is required
    </mat-error>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker>
      <mat-datepicker-actions>
        <button mat-button matDatepickerCancel color="primary">Cancel</button>
        <button mat-button matDatepickerApply color="primary">OK</button>
      </mat-datepicker-actions>
    </mat-datepicker>
  </mat-form-field>

  <section class="form__sex">
    <mat-button-toggle-group aria-label="Sex" formControlName="sex">
      <mat-button-toggle value="male">
        <mat-icon *ngIf="sex?.value === 'male'" svgIcon="tick"></mat-icon>
        <span> Male</span>
      </mat-button-toggle>
      <mat-button-toggle value="female">
        <mat-icon *ngIf="sex?.value === 'female'" svgIcon="tick"></mat-icon>
        <span> Female</span></mat-button-toggle
      >
    </mat-button-toggle-group>
  </section>

  <div class="contacts">
    <mat-form-field floatLabel="always" subscriptSizing="dynamic">
      <mat-label>Country code</mat-label>
      <mat-select formControlName="countryCode">
        <mat-option
          *ngFor="let code of countryCodes"
          [value]="code"
          class="contacts__code-option"
        >
          {{ code.country + " " + code.code }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="countryCode?.hasError('required')">
        Country code is required
      </mat-error>
    </mat-form-field>

    <mat-form-field
      floatLabel="always"
      class="contacts__phone"
      subscriptSizing="dynamic"
    >
      <mat-label>Mobile phone number</mat-label>
      <input
        matInput
        placeholder="e.g. 11111111"
        formControlName="phoneNumber"
      />
      <mat-error
        *ngIf="
          phoneNumber?.hasError('pattern') && !phoneNumber?.hasError('required')
        "
        >Invalid character
      </mat-error>

      <mat-error *ngIf="phoneNumber?.hasError('required')">
        Phone number is required
      </mat-error>
    </mat-form-field>
  </div>

  <mat-form-field
    floatLabel="always"
    subscriptSizing="dynamic"
    class="citizenship"
  >
    <mat-label>Citizenship</mat-label>
    <mat-select formControlName="citizenship">
      <mat-option *ngFor="let info of countryCodes" [value]="info.country">
        {{ info.country }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="citizenship?.hasError('required')">
      Citizenship is required
    </mat-error>
  </mat-form-field>

  <section class="agreement">
    <mat-checkbox color="primary" formControlName="agreement"></mat-checkbox>
    <span
      >I agree to Airway's <a class="agreement__link">Privacy Policy</a> and
      <a class="agreement__link">Terms of Use</a>
    </span>
  </section>

  <button mat-raised-button color="primary" class="form__button" type="submit">
    Sign up
  </button>
</form>
