.wrapper {
  padding: 0 var(--app-wrapper-padding);

  &>.container {
    max-width: var(--max-width-content);
    margin: 0 auto;
  }
}

.menu {
  height: 68px;

  background-color: var(--app-color-secondary100);
}