@import "../../../../styles/responsive.scss";

.auth {
  width: 494px;
  background-color: var(--app-color-neutral100);
  border-radius: 8px;
}

:host ::ng-deep {
  .mat-mdc-tab.mdc-tab {
    @include media-mobile {
      height: 30px;
    }
  }
  .mat-mdc-tab-labels {
    border: 0.5px solid var(--app-color-neutral60) !important;
    border-radius: 6px;
  }
  .mdc-tab--active {
    border: 1px solid var(--app-color-neutral60);
    border-bottom: none;
    border-radius: 6px;
    background-color: var(--app-color-secondary90);
  }
  .mat-mdc-tab-body-content.ng-trigger-translateTab {
    overflow: hidden;
  }
}

.action {
  width: 14px;
  height: 14px;
  position: absolute;
  top: -35px;
  right: -10px;
  @include media-mobile {
    top: -49px;
    right: 56px;
  }
  &__close {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 20px;
    pointer-events: all;
    @include media-mobile {
      border: 1px solid black;
    }
    &:hover {
      background-color: transparent;
    }
  }
}

::ng-deep {
  .mat-mdc-dialog-container .mdc-dialog__content {
    max-height: 90vh;
    max-width: 100%;
  }
  .mat-mdc-dialog-surface.mdc-dialog__surface {
    overflow-y: visible;
  }
}

::ng-deep .mat-mdc-dialog-content::-webkit-scrollbar {
  width: 12px;
}

::ng-deep .mat-mdc-dialog-content::-webkit-scrollbar-thumb {
  border: 4px solid var(--app-background-color-components);
  border-radius: 100px;
  background-color: rgb(17, 57, 126);
  &:hover {
    background-color: rgba(17, 57, 126, 0.5);
  }
}
