:host {
  display: block;

  background-color: var(--app-color-neutral70);
}

.wrapper {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 0 20px;
}

.header {
  display: flex;
  align-items: center;
  max-width: var(--max-width-content);
  height: 100%;
  margin: 0 auto;

  &__logo {
    cursor: pointer;
  }

  &__format {
    height: 40px;

  }

  &__cart {
    &.def {
      color: var(--app-color-neutral10);
    }
  
    &.alt {
      color: var(--app-color-neutral100);
    }
  }
}
