<div class="wrapper" [ngClass]="(isDefStyle$ | async) ? 'def' : 'alt'">
  <div class="header">
    <img
      class="header__logo"
      src="./assets/logo.svg"
      alt="Logo"
      width="114px"
      height="40px"
      (click)="onClickLogo()"
    />
    <app-date-format
      [isDefMode]="isDefStyle$ | async"
      [format]="dateFormat$ | async"
      (setFormatEvent)="onChangeFormat($event)"
    ></app-date-format>
    <app-login-button
      [isDefMode]="isDefStyle$ | async"
      [userName]="''"
    ></app-login-button>
    <button
      mat-icon-button
      color="primary"
      class="header__cart"
      [ngClass]="(isDefStyle$ | async) ? 'def' : 'alt'"
    >
      <mat-icon
        svgIcon="cart"
        [matBadge]="orderCount"
        matBadgeColor="warn"
        matBadgeSize="medium"
        [matBadgeHidden]="orderCount === 0"
      />
    </button>
  </div>
</div>
