:host {
  display: block;
}

.wrapper {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 0 var(--app-wrapper-padding);

  &.def {
    background-color: var(--app-background-color-components);
    // background-color: red;
    z-index: 1000;
    .header {
      gap: 16px;
    }
  }

  &.alt {
    background-color: var(--app-color-neutral70);
    .header {
      gap: 40px;
      @media (max-width: 400px) {
        gap: 10px;      }
    }
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: var(--max-width-content);
  height: 100%;
  margin: 0 auto;

  &__logo {
    cursor: pointer;
  }

  &__center {
    flex: 1 1 auto;
  }

  &__title {
    text-align: right;
    color: var(--app-color-neutral100);
  }

  &__format {
    height: 40px;
  }

  &__right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
  }

  &__cart {
    &.def {
      color: var(--app-color-neutral10);
    }
  
    &.alt {
      color: var(--app-color-neutral100);
    }
  }
}


.burger-menu {
  width: 100%;
  height: 100%;
  margin: -8px 0;
  padding: 8px 0;
}

.burger-menu.light {
  background-color: var(--app-color-neutral100);
}

.burger-menu.dark {
  background-color: var(--app-color-neutral30);
}