.search {
  max-width: 580px;
  max-height: 390px;
  margin-top: 62px;
  padding: 24px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.85);
  form {
    position: relative;
    display: flex;
    flex-direction: column;
    mat-radio-group {
      display: flex;
      gap: 62px;
      margin-left: -10px;
      margin-bottom: 16px;
    }
  }
  &__bottom-block {
    display: flex;
    gap: 20px;
    mat-form-field {
      flex: 1;
    }
  }
  &__switch-btn {
    position: absolute;
    top: 95px;
    right: 25px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background: url("../../../../assets/reverse-btn.svg");
  }
  &__btn {
    width: 126px;
    height: 60px;
    margin-left: auto;
  }
}

mat-form-field:not(.mat-focused) mat-hint {
  display: none;
}

.passenger {
  display: inline-flex;
  flex-direction: column;
  gap: 10px;
  min-width: 180px;
  max-width: 200px;
  padding: 14px 20px 14px 16px;
  font-size: 14px;
  line-height: 20px;
  background-color: rgba(255, 255, 255);
  color: rgb(116, 118, 122);
  &__option {
    display: flex;
    justify-content: space-between;
    flex: 1;
    input {
      max-width: 20px;
      border: none;
      outline: none;
      font-size: 14px;
      line-height: 16px;
      text-align: center;
      user-select: none;
    }
    button {
      width: 30px;
      height: 30px;
      padding: 0;
      border: none;
      font-size: 20px;
      line-height: 20px;
      background-color: transparent;
      cursor: pointer;
    }
  }
  &__description {
    display: flex;
    flex-direction: column;
  }
  &__title {
    font-size: 16px;
    line-height: 24px;
  }
}

.destination-option {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  padding: 6px;

  &__top {
    font-size: 16px;
    line-height: 24px;
  }
  &__bottom {
    font-size: 14px;
    line-height: 20px;
    color: rgb(116, 118, 122);
  }
}
::ng-deep .mat-mdc-autocomplete-panel::-webkit-scrollbar {
  width: 12px;
}

::ng-deep .mat-mdc-autocomplete-panel::-webkit-scrollbar-thumb {
  border: 4px solid rgb(255, 255, 255);
  border-radius: 100px;
  background-color: rgb(17, 57, 126);
  &:hover {
    background-color: rgba(17, 57, 126, 0.5);
  }
}

.passengers__btn {
  position: relative;
  max-height: 56px;
  max-width: 34.5%;
  display: flex;
  align-items: center;
  flex: 1;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
  border-radius: 4px;
  border-color: rgb(116, 118, 122);
  border-style: solid;
  background-color: transparent;
  &.error {
    border-color: rgb(182, 55, 55);
  }
  span {
    margin: 24px 36px 8px 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-transform: capitalize;
  }
  label {
    position: absolute;
    top: 6px;
    left: 14px;
    font-size: 12px;
    line-height: 16px;
    color: rgb(116, 118, 122);
    &.error {
      color: rgb(182, 55, 55);
    }
  }
}
