<div class="search">
  <form class="search__form" [formGroup]="searchForm" (ngSubmit)="temp()">
    <mat-radio-group formControlName="isRound" color="primary">
      <mat-radio-button value="true">Round trip</mat-radio-button>
      <mat-radio-button value="false">One way</mat-radio-button>
    </mat-radio-group>

    <mat-form-field style="margin-bottom: -15px" floatLabel="always">
      <mat-label>From</mat-label>
      <input
        type="text"
        formControlName="from"
        matInput
        [matAutocomplete]="autoFrom"
      />
      <mat-autocomplete
        #autoFrom="matAutocomplete"
        [displayWith]="dispalyShortAirport"
      >
        <mat-option
          *ngFor="
            let option of filteredFromOptions
              | async
              | bindAutocompletes : searchForm.controls['destination'].value
          "
          [value]="option"
        >
          <div class="destination-option">
            <span class="destination-option__top"
              >{{ option.city }} ({{ option.code }})
            </span>
            <span class="destination-option__bottom"
              >{{ option.name }}, {{ option.country }}</span
            >
          </div>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field floatLabel="always">
      <mat-label>Destination</mat-label>
      <input
        type="text"
        formControlName="destination"
        matInput
        [matAutocomplete]="autoTo"
      />
      <mat-autocomplete
        #autoTo="matAutocomplete"
        [displayWith]="dispalyShortAirport"
      >
        <mat-option
          *ngFor="
            let option of filteredToOptions
              | async
              | bindAutocompletes : searchForm.controls['from'].value
          "
          [value]="option"
        >
          <div class="destination-option">
            <span class="destination-option__top"
              >{{ option.city }} ({{ option.code }})
            </span>
            <span class="destination-option__bottom"
              >{{ option.name }}, {{ option.country }}</span
            >
          </div>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

        <button
          class="search__switch-btn"
          type="button"
          (click)="reverseDestinations()"
        ></button>

    <div class="search__bottom-block">
      <mat-form-field
        *ngIf="
          searchForm.controls['isRound'].value === 'true';
          else oneWayDatePicker
        "
        floatLabel="always"
      >
        <mat-label>Dates</mat-label>
        <mat-date-range-input [rangePicker]="picker" [min]="currentDate">
          <input
            matStartDate
            placeholder="Departure"
            formControlName="dateStart"
          />
          <input matEndDate placeholder="Arrive" formControlName="dateEnd" />
        </mat-date-range-input>
        <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-date-range-picker #picker
          ><mat-datepicker-actions>
            <button mat-button matDatepickerCancel color="primary">
              Cancel
            </button>
            <button mat-button matDatepickerApply color="primary">OK</button>
          </mat-datepicker-actions></mat-date-range-picker
        >
      </mat-form-field>

      <ng-template #oneWayDatePicker>
        <mat-form-field floatLabel="always">
          <mat-label>Date</mat-label>
          <input
            matInput
            [min]="currentDate"
            [matDatepicker]="picker"
            formControlName="dateStart"
            placeholder="Departure"
          />
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker
            ><mat-datepicker-actions>
              <button mat-button matDatepickerCancel color="primary">
                Cancel
              </button>
              <button mat-button matDatepickerApply color="primary">OK</button>
            </mat-datepicker-actions></mat-datepicker
          >
        </mat-form-field>
      </ng-template>

      <button
        class="passengers__btn"
        [cdkMenuTriggerFor]="menu"
        [formGroup]="passengersForm"
        [ngClass]="{ error: passengersForm.invalid }"
      >
        <label [ngClass]="{ error: passengersForm.invalid }">Passengers</label>
        <span>
          {{ passengerMessage }}
        </span>
        <mat-icon class="ico" svgIcon="arrow-down"></mat-icon>
      </button>

          <ng-template #menu>
            <div class="passenger" cdkMenu [formGroup]="passengersForm">
              <div
                *ngFor="let passengerCategory of passengersType"
                cdkMenuItem
                class="passenger__option example-menu-item"
              >
                <div class="passenger__option example-menu-item">
                  <div class="passenger__description">
                    <span
                      class="passenger__title"
                      [ngStyle]="{
                        color: updatePassengerColor(passengerCategory.type)
                      }"
                      >{{ passengerCategory.type | titlecase }}</span
                    >
                    <span>{{ passengerCategory.age }}</span>
                  </div>
                  <div class="passenger__control">
                    <button
                      class="button-minus"
                      (click)="
                        changePassengerNumber(
                          $event,
                          passengerCategory.type,
                          '-'
                        )
                      "
                    >
                      -
                    </button>
                    <input
                      type="text"
                      [formControlName]="passengerCategory.type"
                      [ngStyle]="{
                        opacity: updatePassengerOpacity(passengerCategory.type)
                      }"
                      readonly
                    />
                    <button
                      (click)="
                        changePassengerNumber(
                          $event,
                          passengerCategory.type,
                          '+'
                        )
                      "
                    >
                      +
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </div>

        <button
          class="search__btn"
          mat-flat-button
          color="primary"
          type="submit"
          [disabled]="!searchForm.valid"
        >
          Search
        </button>
      </form>
    </div>
  </div>
</div>
