<div class="wrapper">
  <div class="copyright">© 2023, AIRWAY. All rights reserved.</div>
  <div class="developers">
    <a href="https://github.com/AxelKhr">AxelKhr</a>
    <a href="https://github.com/top-aleksei">Top-Aleksei</a>
    <a href="https://github.com/Flash226">Flash226</a>
  </div>
  <div class="payment-method">
    <span>We accept these payment methods</span>
    <div class="cards">
      <img src="../../../../assets/mastercard.svg" alt="mastercard" />
      <img src="../../../../assets/amazon-pay.svg" alt="amazon-pay" />
      <img
        src="../../../../assets/american-express.svg"
        alt="american-express"
      />
      <img src="../../../../assets/visa.svg" alt="visa" />
    </div>
  </div>
</div>
