:root {
  --max-width-content: 1128px;

  --app-wrapper-padding: 20px;

  --app-background-color: #f5f5f5;
  --app-background-color-components: rgba(255, 255, 255, 1);
  --app-background-color-overlay: rgba(255, 255, 255, 0.5);

  --app-color-secondary0: #0090bd;
  --app-color-secondary100: #fafafa;

  --app-color-secondary0: #0090bd;
  --app-color-secondary40: #d0d9df;
  --app-color-secondary100: #fafafa;

  --app-color-neutral0: rgb(28, 27, 31);
  --app-color-neutral10: #49454f;
  --app-color-neutral30: #74767a;
  --app-color-neutral40: rgba(116, 118, 122, 0.6);
  --app-color-neutral60: #cecece;
  --app-color-neutral70: rgba(116, 118, 122, 0.2);
  --app-color-neutral80: #f5f5f5;
  --app-color-neutral90: rgba(241, 243, 246, 0.15);
  --app-color-neutral100: #ffffff;
  --app-color-secondary40: #d0d9df;
  --app-color-secondary50: rgb(225, 229, 235);
  --app-color-secondary90: rgb(244, 246, 249);
}
