@import "src/styles/responsive.scss";

.data {
  margin-bottom: 40px;

  &__title {
    display: flex;
    align-items: center;
    gap: 14px;
    align-items: center;
    height: 44px;
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: var(--app-color-primary);
  }

  &__flights {
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(2, 1fr);
    justify-items: stretch;
    margin-bottom: 30px;
    @include media-tablet {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__fare {
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(2, 1fr);
    justify-items: stretch;
    grid-template-areas: "A B";
    @include media-tablet {
      grid-template-columns: repeat(1, 1fr);
      grid-template-areas: "B";
    }

    app-summary-fare {
      grid-area: B;
    }
  }

}

.control {
  display: flex;
  justify-content: flex-end;
  gap: 40px;

  &__button {
    min-width: 126px;
    height: 60px;
  }
}
