<div class="race">
  <div class="race__title">
    <img class="race__title__logo" src="./assets/plane.svg" alt="plane" />
    <p class="race__title__name-race">
      {{
        getAirportName(
          isReturned ? request.arrivalAirportCode : request.departureAirportCode
        ) | async
      }}
      to
      {{
        getAirportName(
          isReturned ? request.departureAirportCode : request.arrivalAirportCode
        ) | async
      }}
    </p>
  </div>

  <div class="race__calendar" *ngIf="isEdit">
    <p-carousel
      [value]="routes"
      [numVisible]="5"
      [numScroll]="1"
      [circular]="false"
      [showIndicators]="false"
      [responsiveOptions]="responsiveOptions"
    >
      <ng-template let-route pTemplate="item">
        <div
          class="border-1 surface-border border-round m-2 text-center py-5 px-3"
          [class.active-card]="route.isActive"
          [style.pointer-events]="
            compareDates(route.departureDate) ? 'none' : 'auto'
          "
          (click)="setActive(route)"
        >
          <mat-grid-list cols="1" rowHeight="90px" gutterSize="1px">
            <mat-grid-tile colspan="1" rowspan="1">
              <mat-card
                [style.height.px]="route.isActive ? 83 : 75"
                class="date-card"
              >
                <mat-card-content class="date-content">
                  <div
                    class="date-content__race-date card-row"
                    [ngClass]="{ 'text-muted': route.flights.length === 0 }"
                  >
                    {{ route.departureDate | date : "dd MMM" }}
                  </div>
                  <div
                    class="date-content__race-day card-row"
                    [ngClass]="{ 'text-muted': route.flights.length === 0 }"
                  >
                    {{ route.departureDate | date : "EEEE" }}
                  </div>

                  <div class="date-content__race-price card-row">
                    <span
                      class="date-content__race-price__price"
                      *ngIf="route.flights.length > 0"
                    >
                      {{
                        route.ticketsCost.adult.totalCost
                          | currencyConvert : (currency$ | async) || "USD"
                      }}
                    </span>
                    <img
                      src="../../../../assets/no-race.svg"
                      alt="No flights"
                      *ngIf="route.flights.length === 0"
                    />
                  </div>

                  <div
                    *ngIf="route.flights.length > 0"
                    class="race-row"
                    [ngStyle]="{
                      'background-color': getColor(1, getMinSeats(route))
                    }"
                  ></div>
                </mat-card-content>
              </mat-card>
            </mat-grid-tile>
          </mat-grid-list>
        </div>
      </ng-template>
    </p-carousel>
  </div>
  <div class="container-race">
    <div
      class="container-race__left-side"
      *ngIf="routes[activeRouteInd].flights.length > 0"
    >
      <div
        class="container-race__left-side__container"
        *ngFor="let flight of routes[activeRouteInd].flights; let i = index"
      >
        <div class="fly-param">
          <div class="fly-info">
            <div class="fly-info__left-text">
              <div class="fly-info__left-text__date">
                {{ flight.departureDateTime | date : "EEE, d MMM y" }}
              </div>
              <div class="fly-info__left-text__time-fly">
                <div class="fly-info__left-text__time-fly__time">
                  {{ flight.departureDateTime | date : "HH:mm" }}
                </div>
                <div class="fly-info__left-text__time-fly__timezone">
                  UTC
                  {{ getAirportTimezone(flight.departureAirportCode) | async }}
                </div>
              </div>
              <div class="fly-info__left-text__name-airport">
                {{ getAirportName(flight.departureAirportCode) | async }}
              </div>
            </div>
            <div class="fly-info__center-content">
              <div class="fly-info__center-content__air-line"></div>
              <div class="fly-info__center-content__content">
                <div class="fly-info__center-content__content__time">
                  {{ flight.flightTime | timeFormat }}
                </div>
                <div class="fly-info__center-content__content__plane">
                  <img
                    src="{{
                      routes[activeRouteInd].departureAirportCode ===
                      request.departureAirportCode
                        ? '../../../../assets/airplane_takeoff.svg'
                        : '../../../../assets/airplane_takeon.svg'
                    }}"
                    alt="airplane"
                  />
                </div>
                <div class="fly-info__center-content__content__direct">
                  {{
                    routes[activeRouteInd].flights.length === 1
                      ? "Direct"
                      : "Connecting"
                  }}
                </div>
              </div>
              <div class="fly-info__center-content__air-line"></div>
            </div>
            <div class="fly-info__right-text">
              <div class="fly-info__right-text__date">
                {{ flight.arrivalDateTime | date : "EEE, d MMM y" }}
              </div>
              <div class="fly-info__right-text__time-fly">
                <div class="fly-info__right-text__time-fly__timezone">
                  UTC
                  {{ getAirportTimezone(flight.arrivalAirportCode) | async }}
                </div>
                <div class="fly-info__right-text__time-fly__time">
                  {{ flight.arrivalDateTime | date : "HH:mm" }}
                </div>
              </div>
              <div class="fly-info__right-text__name-airport">
                {{ getAirportName(flight.arrivalAirportCode) | async }}
              </div>
            </div>
          </div>
          <div class="fly-number">
            <span>Flight no.</span>
            <span>{{ flight.numberRace }}</span>
          </div>
        </div>
      </div>
    </div>

    <div
      class="container-race__right-side"
      *ngIf="routes[activeRouteInd].flights.length > 0"
    >
      <div class="line"></div>
      <div class="price-param">
        <div class="price-param__price-warning">
          <div
            class="price-param__price-warning__seats"
            *ngIf="isEdit"
            [ngStyle]="{
              'background-color': getColor(
                0.3,
                getMinSeats(routes[activeRouteInd])
              )
            }"
          >
            <span
              >{{ getMinSeats(routes[activeRouteInd]).freeSeats }} seats
              available</span
            >
          </div>
          <div class="price-param__price-warning__price">
            <span *ngIf="isEdit">Price</span>
            <span class="cost">{{
              routes[activeRouteInd].ticketsCost.adult.totalCost
                | currencyConvert : (currency$ | async) || "USD"
            }}</span>
          </div>
        </div>
        <div class="price-param__button">
          <button
            mat-stroked-button
            [ngClass]="{
              'mat-stroked-button': isEdit,
              'mat-stroked-button-edit': !isEdit
            }"
            (click)="buttonClick()"
          >
            {{ buttonText }}
          </button>
        </div>
      </div>
    </div>
    <div class="no-flights" *ngIf="routes[activeRouteInd].flights.length === 0">
      <span>No flights found for this date</span>
    </div>
  </div>
</div>
