<div *ngIf="isEnable" class="data">
  <app-race
    class="data__routes"
    [airports$]="airports$"
    [request$]="flightRequest$"
    [routes$]="routesTo$"
  ></app-race>
  <app-race
    class="data__routes"
    [airports$]="airports$"
    [request$]="flightRequest$"
    [routes$]="routesFrom$"
    [isReturned]="true"
  ></app-race>
</div>
<div class="control">
  <button
    mat-button
    color="primary"
    class="control__button"
    (click)="onClickBack()"
  >
    Back
  </button>
  <button
    mat-flat-button
    color="primary"
    class="control__button"
    (click)="onClickContinue()"
  >
    Continue
  </button>
</div>
